{#-
Required:
    inputs (Dict[str, Any]): A dictionary of input variables and their values.
    expected (Any): The correct output value.
Optional:
    output (Any): The output value, used only when expected is missing.
    cutoff (int): The maximum length for displaying input values, default to 256 (characters).
    hints (List[str]): A list of hints or additional information. Omitted if not provided.
Filters:
    value_repr(cutoff:int=256): A filter to format the value representation, truncating if necessary.
-#}
{% trans %}Inputs:{% endtrans %}
{% for key, value in inputs.items() -%}
- {{ key }}: {{ value | value_repr(cutoff|default(256)) }}
{% endfor -%}
{% trans %}Output:{% endtrans %}
- {{ (expected if expected is defined else output) | value_repr(-1) }}
{% if hints is defined and hints|length > 0 -%}
{% trans %}Hints:{% endtrans %}
{% for hint in hints -%}
- {{ hint }}
{% endfor -%}
{% endif -%}