# python
.env
/docs/my_sphinx/docs/build/
/docs/my_mkdocs/my-project/site/
/data_analysis/my_meili/data/

**/__pycache__/
/data_analysis/data/log/
/data_analysis/src/agent_heaven/jinja_utils/extensions/db/db_info.json
/data_analysis/my_vdb/my_lancedb/data/
