asyncpg
chromadb
duckdb==1.3.2
duckdb-engine
fastmcp
lancedb
llama-index-tools-neo4j
llama-index-vector-stores-chroma
llama-index-vector-stores-lancedb
llama-index-vector-stores-milvus
llama-index-vector-stores-postgres
neo4j
neo4j-rust-ext
ollama
prompt_toolkit
psycopg2
pyahocorasick
pyarrow
pymilvus
pymysql
sandboxai-client
spacy
