{#-
Required:
    funcspec (str): Function definition and docstring.
    examples (List[Dict]): Examples of inputs and outputs.
    inputs (Dict): New inputs to process.
Optional:
    cutoff (int): Maximum character length for displaying input values (default: 256).
    hints (List[str]): Additional information or context. Omitted if not provided.
Dependency:
    'experience/correct_instance.jinja'
-#}
{% trans %}You are a skillful Python expert. Your task is to simulate the output of a function given its specification, examples, and new inputs. Infer the function's logic and apply it to the new inputs.{% endtrans %}

## {% trans %}Function Specification:{% endtrans %}
```
{{ funcspec }}
```

{%- if examples|length > 0 %}

## {% trans %}Examples:{% endtrans %}
{% for example in examples -%}
<example{{ loop.index }}>
{% with inputs=example.inputs, output=example.output, expected=example.expected, hints=example.hints, cutoff=cutoff|default(256) -%}
{% include "experience/correct_instance.jinja" -%}
{% endwith -%}
</example{{ loop.index }}>
{% endfor -%}
{%- endif %}

## {% trans %}Instructions:{% endtrans %}
- {% trans %}Keep your reasoning or response as brief as possible.{% endtrans %}
- {% trans %}The final answer must be a string interpretable by python `eval`.{% endtrans %}
- {% trans %}Wrap the final answer in `<output_repr></output_repr>` tags.{% endtrans %}

## {% trans %}New Instance:{% endtrans %}
<instance>
{% with inputs=inputs, output='TODO', expected='TODO', hints=hints, cutoff=cutoff|default(256) -%}
{% include "experience/correct_instance.jinja" -%}
{% endwith -%}
</instance>