# python
.env
**/__pycache__/
/data/book/md/
/data/book/txt/
/data/article/md/
/data/article/txt/
/data/article/prompt_txt/
/data/subtitle/srt/
/data/subtitle/prompt_txt/
/data/subtitle/txt/
/data/epub/book/
/data/epub/txt/
/data/book/book/
/data/hackmd/notes.json
/data/hackmd/notes/
